.sequio__header {
    display: flex;
}

.sequio__dashboard-content {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 10rem;
    margin-left: 10rem;
}

.sequio__dashboard-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 60px;
}

.sequio__dashboard-content-container-grid-item {
    padding: 10px;
    text-align: center;
    background-color: rgba(56, 80, 119, 0.78);
    width: 213px;
    height: 197px;
    padding: 2rem;
}

.sequio__dashboard-content-container-grid-item p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.sequio__dashboard-content-container-grid-item label {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    letter-spacing: 0.4px;
}

.sequio__dashboard-content-container-grid-item2 {
    text-align: center;
    background-color: rgba(56, 80, 119, 0.78);
    width: 213px;
    height: 197px;
    padding: 2rem;
}

.sequio__dashboard-content-container-grid-item2 p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.sequio__dashboard-content-container-grid-item2 label {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    letter-spacing: 0.4px;
}

.sequio__dashboard-content-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 60px;
    padding-top: 3rem;
    padding-right: 5rem;
}

.sequio__dashboard-content-container2-grid-item {
    width: 297px;
    height: 96px;
    border-radius: 4px;
    border: 1px solid var(--dark-divider, #313C4E);
    background-color: rgba(56, 80, 119, 0.78);
    text-align: center;
    padding: 0.5rem;
}

.sequio__dashboard-content-container2-grid-item p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
}

.sequio__dashboard-content-container3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 60px;
    padding-top: 3rem;
    padding-right: 5rem;
}

.sequio__dashboard-content-container-grid3-item {
    border-radius: 4px;
    border: 1px solid var(--dark-divider, #313C4E);
    background: #4C5C77;
    /* width: 1001px;
    height: 525px; */
    width: 1031px;
    height: 625px;
    padding: 2rem;
}

#performance_graph{
    height:30rem;
    width:50rem;
    display: flex;
    float: left;
    margin-left: 5rem
}

.sequio__dashboard {
    height: 1100px;
    background:-moz-radial-gradient(325.37% 176.17% at 1.04% 100%, #32405B 0%, #092C56 17.51%, #041A3F 32.62%, #04193E 69.6%, #233452 82.1%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(325.37% 176.17% at 1.04% 100%, #32405B 0%, #092C56 17.51%, #041A3F 32.62%, #04193E 69.6%, #233452 82.1%);
    /* opera 11.10+ */
    background:-o-radial-gradient(325.37% 176.17% at 1.04% 100%, #32405B 0%, #092C56 17.51%, #041A3F 32.62%, #04193E 69.6%, #233452 82.1%);
    /* ie 10+ */
    background:-ms-radial-gradient(325.37% 176.17% at 1.04% 100%, #32405B 0%, #092C56 17.51%, #041A3F 32.62%, #04193E 69.6%, #233452 82.1%);
    /* global 92%+ browsers support */
    background:radial-gradient(325.37% 176.17% at 1.04% 100%, #32405B 0%, #092C56 17.51%, #041A3F 32.62%, #04193E 69.6%, #233452 82.1%);
}

.sequio__dashboard-content-container-grid3-item p {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.sequio__dashboard-content-container-grid3-item img {
    width: 900px;
    margin: 1rem;
}

@media screen and (max-width: 1050px) {
    .sequio__header {
        flex-direction: column;
    }

    .sequio__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .sequio__header-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .sequio__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    
}

@media screen and (max-width: 490px) {
    .sequio__header-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .sequio__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

}
