/* Login.css */

.center_text {
  text-align: center;
}

.sequio__login {
  justify-content: center;
}

.sequio__login-form-error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  width: 300px;
}

.sequio__login-form {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  margin-left: 10rem;
}

.sequio__login-form-form {
  text-align: -webkit-center;
}

.sequio__login-form img{
  flex: 1;
  width: 200px;
  height: 289.675px;
  align-self: center;
}

.sequio__login-form-button {
  background-color: #5E7B7E;
  border-radius: 15px;
  border: 1px solid #5E7B7E;
  width: 300px;
  height: 58px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  margin-top: 1rem;
  align-self: center;
}

.sequio__login-form-button p {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 26px;
  line-height: normal;
  cursor: pointer;
  border-radius: 5px;
  color: #ffff;
}

.sequio__login-form h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 30px;
  line-height: normal;
  cursor: pointer;
  border-radius: 5px;
  color: #ffff;
  align-self: center;
  margin-top: 0rem;
}

.sequio__login-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-self: center
}
.sequio__label-DOB {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.error-message {
  width: 350px;
  color: #d70000;
}

.sequio__login-form-input {
  margin-top: 1rem;
  color: #fff;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 26px;
  line-height: normal;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #F5F5F5;
  width: 300px;
  height: 58px;
  text-align: center;
  justify-content: center;
  justify-self: center;
}

input::placeholder,
textarea::placeholder {
    color: #fff; /* Replace with the color you desire, e.g., red */
    text-align: center;
    font-size: 26px;
  }

@media screen and (max-width: 1050px) {
  .sequio__header {
      flex-direction: column;
  }

  .sequio__login-form {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .sequio__login-form h3 {
      font-size: 48px;
      line-height: 60px;
  }

  .sequio__login-form p {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .sequio__login-form h3 {
      font-size: 36px;
      line-height: 48px;
  }

  .sequio__login-form p {
      font-size: 14px;
      line-height: 24px;
  }
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Active (clicked) state */
.sequio__login button:active {
  background: rgba(255, 255, 255, 0.36);
  transition: all 0.3s ease; 
  border: 2px solid #3498db; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.sequio__login-form-input:hover {
  transition: all 0.3s ease;
  border: 2px solid #3498db; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.sequio__login-form-button:active {
  transform: scale(0.95); 
  transition: transform 0.1s ease;
}

.sequio__login-form-button:hover {
  transition: all 0.3s ease;
  border: 2px solid #3498db;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}